In [ ]:
%run pyhton.py

In [ ]:
#Value 

Number No inverted comma 
string ""
Boolean No Inverted comma

## python

##python

In [ ]:
## python
#shift +Enter krke heading bn jayegi

In [ ]:
#print print is a python built in function/statement ()

In [ ]:
print ("pakistan Zindabad")
#Funcname     Arguments
#Comment

In [ ]:
print("Iam a string value",11,12,True,False,sep=" ")

#print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

In [ ]:
#In() Execution number kehlata hai (left side pe jo curly bracket hai)

In [ ]:
\n \t Excape character

In [ ]:
print("python for \n \t all")

In [ ]:
print("pakistan Zindabad",end="\n")
print("pakistan Zindabad")

In [ ]:
#date type in python

## Variable for string

In [ ]:
Age =21.7


#age is vaiable
#21.7 is a value 
= assignment operator

##What is variable = 

variable is the identifier which stores data in it

## Data type in python

In [ ]:
Integer (whole number )
Float (Decimal value )
string
Boolean ( T , F)

In [ ]:
Name="huzaifa"

In [ ]:
Name

In [ ]:
id(Name)  ye iska addres btaraha hai

In [ ]:
type(Name)

In [ ]:
Name=2

In [ ]:
Name

In [ ]:
type(Name)

# Operators

In [ ]:
**#Addition(+)
  #Subtraction(-)
  # multiply (*)
    #Divide (/ or //)**

In [ ]:
Marks=4

In [ ]:
Age=2

In [ ]:
Age+5

In [ ]:
Marks +Age

In [ ]:
Age=Age+1

In [ ]:
Marks +Age

In [ ]:
Age+=1

In [ ]:
print(Age)

In [ ]:
10/3

#Float me value ayegi

In [ ]:
10//3
#// double slash use krne se decimal part remove hojayega

In [ ]:
##Floor Division ( value km krna ) and Ceil Divison ( value barh jana )

# Floor and Ceil ( Sub topic)

In [ ]:
import math

In [ ]:
import math
math.floor(23.5) #previous Number

In [ ]:
math.ceil(23.52) #next number

In [ ]:
import math as n

print(n.floor(23.1))
print(n.ceil(23.5))

In [ ]:
a="huzaifa"
print(a)
a="huzaifa abha "
print(a)

## variable names Legal and Illegel

In [ ]:
Else =" huzaifa"

Reserved word cannot used

In [ ]:
Special Characters . ?

In [ ]:
father_Name ="Waseem "

In [ ]:
Student= "huzaifa"

In [ ]:
Studentwaseem =" huzaifa"

In [ ]:
print(Studentwaseem)

In [ ]:
import sys
print(sys.getsizeof(Studentwaseem))

## User Input

In [ ]:
age=input("Enter your age : ")
Name=input("Enter your name : ")
print("My name is :", Name,"\nAnd age is :",age)

In [ ]:
type(age)

In [ ]:
b = 2

In [ ]:
type(b)

In [ ]:
c =2
type(c)

## String Concatenation

In [ ]:
First_name = " Huzaifa"
last_name = "Abha"

In [ ]:
a= First_name + " " + last_name
print(a)

In [ ]:
+Operator 

Int =int +int addition 
String +String  Concatenation

In [ ]:
First_name = 2
last_name = "Abha"
a= First_name + " " + last_name
print(a)
,

In [ ]:
Name = "abha"
age = " 22"
a= "my name is : " +Name +" and age is:" +age
print(a)

## type casting

In [ ]:
age=int(input("Enter your age : "))
Name=input("Enter your name : ")
print("My name is :"+ Name +" And age is :"+str(age))

In [ ]:
int("515")

## String Formation

In [ ]:
Company = input("Enter the company name")
number_of_units= int(input("how many unit sold out :" ))
price_per_unit =int(input("Enter the price per unit : "))
print("you have ordered {} units from the company {} and the per unit price {}".format(number_of_units,Company,price_per_unit))

In [ ]:
Company = input("Enter the company name")
number_of_units= int(input("how many unit sold out :" ))
price_per_unit =int(input("Enter the price per unit : "))
print("you have ordered " + str(number_of_units)+" from the company " + Company +  "and the per unit price " + str(price_per_unit ))

## String formation ( Direct method)


Name = "huzaifa"
father_name = "waseem "

print(f"My name is {Name} and my father name is {father_name}")

In [ ]:
## String formation ( Indexing  method using format)

print("i am {} I am {} yrs old and I admitted in {}".format( "huzaifa", "29 ", "saylani"))

In [ ]:
Name =" huzaifa"
age = "29"
institute = "saylani"

f"i am {Name} I am {age} yrs old and I admitted in {institute}" # f use krnay se indexing ab direct usko consider nai krega

## String can be used as " " ,' ',''' '''

In [ ]:
print('I am all students of "Saylani Institute "') #Single quote use kiya hai double quote ko use krnay ke liye

In [ ]:
print("I am all students of \"Saylani Institute \"") # Slash use kiya hai double quote me rakhnay ke liye

 ## New topic (Multiline string formation )

In [ ]:
print("         Saylani Mass IT training \n\n Name : Huzaifa \n Course : AI and DS \n ")

In [ ]:
Student_name = input(" Enter student name: ")
father_name =input(" Enter father name: ")
coursetime = input(" Enter course time")

print(f""" \n     Saylani Mass Program

Name :{Student_name}
father name : {father_name}
Time : {coursetime}

""")

In [ ]:
a="i am Huzaifa waseem and I live in north karachi"

a.find("huzaifa") # 1 ) -1 ka mtlb hai ke letter nai mila  2) -1 last letter ko find krnay ke liye use houta hai

In [ ]:
a.count(a)

In [ ]:
a.capitalize()

In [ ]:
a.upper()

In [ ]:
a.lower()

In [ ]:
a.find("i",32)

In [ ]:
a.find("and")

In [ ]:
a.casefold()

In [ ]:
a.index("Huzaifa")

In [ ]:
# isalpha  # check whether it is alphabet aur not and result is trueand false

In [ ]:
Country = " Pakistan "

In [ ]:
Country.lstrip()  # srf left wali ke space khtam krega
# Country.rstrip() # right walay ke space khtam
# Country.strip()  #both space khtam krega

In [ ]:
# string is iterable but it is immutable  # iterable ka mtlb has alg alg character ko istemal krsktay hain # immutable means cannot change orignal value

In [ ]:
Join

In [ ]:
abc = " huzaifa "

print("Hello {} , Welcome to the  Python crash program ". format(abc))

### Exercise 1

In [ ]:


abc = " huzaifa "

print(f"Hello {abc} , Welcome to the  Python crash program ")

print(abc.lower())
print(abc.upper())
print(abc.capitalize())
print(abc.lstrip())
print(abc.rstrip())
print(abc.strip())

In [ ]:
print('Albert Einstein once said ,"A person who never made a \nmistake never  tried anything new"' )

## More on operators

= assignment 
== equals to 
!= not equals to
** not equal to 
% modulus
> gretaer than
< less than 
>= greter than equal to 
<= less than equal to 
and  (logical and )
or ( logical or)

In [ ]:
a=2
b=4 
a==b
a!=b

In [ ]:
10%3

In [ ]:
9%3

## Logcal and logical or 


R1        R2          or         and
T          T         T           T 
T          F         T            F
F          T         T            F
F          F         F            F

In [ ]:
10>5 or 5<2

In [ ]:
10>5 and  5<2

## If statement

In [ ]:
num1=int(input("Enter a number of your choice "))
num2=int(input("Enter another number"))
if num1==num2:
    print(f"Number {num1} is equal to number {num2}")
    
else:   
    print(" {} is not equal to {} ")

In [ ]:
num1=int(input("Enter a number of your choice "))
num2=int(input("Enter another number"))
if num1==num2:
    print(f"Number {num1} is equal to number {num2}")
    
elif num1>num2:
         print(f"{num1} is greater than  {num2} ")
elif num1<num2:
        print (f"{num1} is less  than  {num2} ")
else:
    
    print(" Number doesnot exist")

In [ ]:
num=int(input("Enter Number : "))

if num % 5 ==0:
    print("it is divisble by 5")

elif num % 7 == 0:
    print("it is divisble by 7")
else:
    print(f"{num} is not divisible by 5 or 7")

In [ ]:
print('''
Twinkle, twinkle, little star,
	How I wonder what you are! 
		Up above the world so high,   		
		Like a diamond in the sky. 
Twinkle, twinkle, little star, 
	How I wonder what you are
''')

In [ ]:
num=int(input("Enter Number : "))

if (num%5==0) or (num%7==0):
    print(f"{num} is divisible by 5 or 7")
    
else:
    print(f"{num} is not divisible by 5 or 7")

## Class 5 23-May

In [ ]:

Student_name = input("Enter Student name :")
Num1 = float(input(" Enter Physics mark :"))
Num2 = (float(input(" Enter Maths mark :")))
Num3 = (float(input(" Enter Chem mark :")))
Num4 = (float(input(" Enter Comp mark :")))
Num5 = (float(input(" Enter Urdu mark :")))

Obtained_marks=round( Num1+Num2+Num3+Num4+Num5)

percentage = (Obtained_marks/500)*100
print(percentage)
percentage=round(percentage)
grade= None  ### yahan pe grade a variable assign kiya hai

if percentage >=80 and percentage < 100:
     grade ="A+"

elif percentage >=70 and percentage < 80:
    grade ="A"
    
elif percentage >=60 and percentage < 70:
    grade ="B"
    
elif percentage >=50 and percentage < 60:
    grade ="C"
else:
    grade ="F"
    
print(f"""  
                      *************************************************************************
                      *                      SMIT Training Institute                           *
                      *                                                                        *
                      **************************************************************************

                                      Student name : {Student_name}
                                      
                                      Physics Marks : {Num1} 
                                      
                                      Mathematics  Marks : {Num2}
                                      
                                      Chemistry Marks : {Num3}
                                      
                                      Computer Marks : {Num4}
                                      
                                      urdu Marks : {Num5}
-------------------------------------
Obtained marks :{Obtained_marks}     -

Percentage : {percentage} %            -

Grade : {grade}                      -
                                     -
--------------------------------------                                     
""")

## Nested IF's

In [ ]:
user_name ="huzaifa abha"
pass_word ="123"

username= input("Enter your username :")


if username == user_name :
    password= input("Enter your Password :")
    
    if password == pass_word:
        print("Login Approved")
    else:
        print("Wrong password")
else:
    print(" username doesnot exist")

In [ ]:
user_name ="huzaifa abha"
pass_word ="123"

username= input("Enter your username :")


if username == user_name :
    password= input("Enter your Password :")
    
    if password == pass_word:
        
        print("Login Approved")
        
        Student_name = input("Enter Student name :")
        Num1 = float(input(" Enter Physics mark :"))
        Num2 = (float(input(" Enter Maths mark :")))
        Num3 = (float(input(" Enter Chem mark :")))
        Num4 = (float(input(" Enter Comp mark :")))
        Num5 = (float(input(" Enter Urdu mark :")))

        Obtained_marks=round( Num1+Num2+Num3+Num4+Num5)

        percentage = (Obtained_marks/500)*100
        print(percentage)
        percentage=round(percentage)
        grade= None  ### yahan pe grade a variable assign kiya hai

        if percentage >=80 and percentage < 100:
                grade ="A+"

        elif percentage >=70 and percentage < 80:
                grade ="A"
    
        elif percentage >=60 and percentage < 70:
               grade ="B"
     
        elif percentage >=50 and percentage < 60:
                grade ="C"
        else:
                grade ="F"
    
        print(f"""  
                      *************************************************************************
                      *                      SMIT Training Institute                           *
                      *                                                                        *
                      **************************************************************************

                                      Student name : {Student_name}
                                      
                                      Physics Marks : {Num1} 
                                      
                                      Mathematics  Marks : {Num2}
                                      
                                      Chemistry Marks : {Num3}
                                      
                                      Computer Marks : {Num4}
                                      
                                      urdu Marks : {Num5}
                                      -------------------------------------
                                 Obtained marks :{Obtained_marks}     -

                                 Percentage : {percentage} %            -

                                 Grade : {grade}                      -
                                     -
                                  --------------------------------------                                     
              """)
       
    else:
        print("Wrong password")
else:
    print("Wrong user name ")

In [ ]:


# ## Assignment 
# 1) A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years.
Ask user for their salary and year of service and print the net bonus amount.
# In[9]:


Salary = int(input("Enter your salary : "))
Service_year = int(input("Enter your Service year : "))
New_salary = None 
if Service_year > 5:
    New_salary= Salary + Salary * 0.05
    print(f"your new salary is {New_salary}")
else:
    print(f"you salary is {Salary} and you are not eligible for bonus")
    


# In[ ]:


#2 Write a program to check whether a person is eligible for voting or not. (accept age from user


# In[10]:


Age= int(input("Enter your age : "))

if Age >=18 :
    print(" You are Eligible for voting ")
else:
    print(" Your are not Eligible for vote ")

#Q8. Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria :
             Unit                                                     Price  
First 100 units                                               no charge
Next 100 units                                              Rs 5 per unit
After 200 units                                             Rs 10 per unit
(For example if input unit is 350 than total bill amount is Rs2000)

# In[16]:


units=int(input("Enter your bills unit "))
a=0
b=0
c=0
if units >0 and units < 100 :
    a=units*10
    total=a
elif units > 100 and units <200:
    
    b = (units-100)*20
    a=100*10
    total = a+b

elif units>200:
    c = (units -200)
    c1=c*30

    d=(units-c)
    e=(d-100)*20
    e1 =(d-100)*10
    #b = 100*20
    #a=100*10
    total = c1+e+e1
    
else:
    print("")
    
print(total)
    
    


# In[ ]:


9 ) Write a program to display the last digit of a number.
(hint : any number % 10 will return the last digit)


# In[27]:


#a=int(input("Enter number :"))
#b=repr(a)
#c=b[-1]
#d=int(c)
#print(d)

a=int(input("Enter number :"))

last_digit= a%10

if last_digit %3==0:
    print(f"{last_digit} is last digit and  It is divisible by 3")


# In[1]:


#12) Take two int values from user and print greatest among them.

num1=int(input("Enter number 1 :"))
num2=int(input("Enter number 2 :"))
if num1>num2 :
    print(" num1 is greater than num2")
else:
    print("num2 is greater ")

14) A shop will give discount of 10% if the cost of purchased quantity is more than 1000.
Ask user for quantity
Suppose, one unit will cost 100.
Judge and print total cost for user.
# In[5]:


quantity = int(input("Enter number of quantity :"))
per_unit_cost = 100
total_cost =quantity*per_unit_cost
new_cost =0
if total_cost>1000:
    new_cost = total_cost - (total_cost*0.10)
    print(f"your new cost is {new_cost}")
else:
    print(f"your cost  is {total_cost} ")


# In[ ]:


#16) Take input of age of 3 people by user and determine oldest and youngest among them.

Age1 = int(input("Enter Age1 :"))
Age2 = int(input("Enter Age2 :"))
Age3 = int(input("Enter Age3 :"))

if Age1>Age2 and Age1>Age2:
    print(person1 age is greater than people 2 and people 3)

## Class 8

## Python data Structure

In [ ]:
# List 

Courses = []

In [ ]:
Students=["huzaifa" ,"Waseem" ,"ahmed "]
#index       0          1         2
#index       -3         -2        -1

# - Index isliye use houta hai ke last digit ko call krwana ho yaa , last ke 10 ko call krwana ho

In [ ]:
Students[0] , Students[-2]

In [ ]:
Students[0]="abha"

In [ ]:
Students[0]

In [ ]:
Students

In [ ]:
#### Crud ( Create , Retrieve , update , Delete )

In [ ]:
SMIT = ["AI" , "DS" , "Web"]

In [ ]:
SMIT

In [ ]:
del SMIT[2]

In [ ]:
SMIT

In [ ]:
misclist =[SMIT,Students, False ]

In [ ]:
misclist

Courses.append #append is used for adding new object

In [ ]:
misclist.append("hello")

In [ ]:
misclist

In [ ]:
misclist.insert(2, " huz")

In [ ]:
misclist

In [ ]:
abha = misclist.pop(-2)   # variable me store kiy hai

In [ ]:
misclist

In [ ]:
abha

In [ ]:
misclist.remove("hello")

In [ ]:
misclist

In [ ]:
misclist.remove(Students)

In [ ]:
misclist

In [ ]:
Students

In [ ]:
Students

#Important for exam 

#pass by reference  ( Isme ref/address trnasfer houta hai)  val 1= value2  

#pass by value ( Isme value ke through save krwayengay)

In [ ]:
new_misclist= misclist.copy()  ## pass by value ke through copy kiya hai jiski waja se miscslist me koi chiz update hogi tou wo micslist me update nai hogi

In [ ]:
new_misclist

In [ ]:
misclist.append("abha")

In [ ]:
new_misclist

In [ ]:
misclist.count("DS")

In [ ]:
cars =["honda", "toyota" , "Changan"]

In [ ]:
cars

In [ ]:
my_cars = cars.copy()

In [ ]:
my_cars.append("zz")

In [ ]:
my_cars.append(" lexus")

In [ ]:
cars

In [ ]:
my_cars.append(cars)

In [ ]:
my_cars

In [ ]:
my_cars.extend(cars)

In [ ]:
my_cars

In [ ]:
my_cars.pop(5) # pop value deta hai delte krnay ke baad

In [ ]:
my_cars

In [ ]:
my_cars.sort()

In [ ]:
my_cars

# Indexing and Slicing

In [ ]:
marks =[90,20,25,204,25,]

In [ ]:
marks[3] #indexing

In [ ]:
marks[1:4]  # less than one tak assign hoga

In [ ]:
marks[2:] # no need to assign second number , it will call number

In [ ]:
marks[:2] #no need to assign first number

In [ ]:
marks[:] # no need to assign first nad second number , call all list

In [ ]:
marks.insert(3,55)

In [ ]:
marks

In [ ]:
marks.append(12)

In [ ]:
marks

In [ ]:
marks.pop(-2)

In [ ]:
marks

In [ ]:
del marks[0]

In [ ]:
marks

In [ ]:
marks.pop(-2)

In [ ]:
marks

In [ ]:
marks[0:3:2] #Stepping method 
          2 is for stepping

In [ ]:
marks

In [ ]:
marks[::-1] # -1 is used fro stepping

In [ ]:
marks[-1:-4:-2] # -2 is used for stepping

## For Loop

In [ ]:
#to reduce repetition

In [ ]:
for i in  range(0,10):    
    print(i,end=" ")

In [ ]:
for i in  range(10,0,-1):    # 
    print(i,end=" ")        # end

In [ ]:
for i  in range(1,1000):
    if i%3==0:
        break
    
    print(i)

In [ ]:
even=[]
odd=[]

for i in range (1,100):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)

print("Even=", even)

print(odd)

In [ ]:
even=[]
odd=[]

for i in range (1,100):
    if i%5!=0:               #No need to write modulus of 5 in each odd and even line  so we have first ask initially
        
        if i%2==0:  
                
                even.append(i)                # if i%5!=0 : Nested if can be used for this 
        else: 
            
            odd.append(i)
       

print("Even=", even)

print("Odd=", odd)

In [ ]:
for i in range (1,250):
    if i%2==0:
        continue #skip this statement 
    else:
        print(i,end=" ")

### iterating over a list for loop

In [ ]:
list1 =["huzaifa","abha "]

In [ ]:
for name in list1:
    print(f"Welcome Mr. {name}")

In [ ]:
Guest_name=[]
for name in range(5):
    name=input("Enter guest name : ").upper()
    if name=="HUZAIFA" : #or name in Guest_list  :
        continue
        
    else:
        Guest_name.append(name)
print(Guest_name)

## Exercise

In [ ]:
1 # counting to twenty

for a in range(1,21):
    
    print(a, end =" ")

In [ ]:
list=[]
for a in range (1,1000):
    list.append(a)
print(list)

In [ ]:
list=[]

for a in range (1,1000):
    list.append(a)
    
print(min(list))
print(max(list))
print(sum(list))

In [ ]:
List1=[]
for a in range(3,30):
    if a%3==0:
        
        List1.append(a)
    
print(List1)

In [ ]:
#third argument of list means stepping 
List1=[]
for a in range(1,20,3):
    if a%2!=0:
        
        List1.append(a)
    
print(List1)

## List Comprehension

In [ ]:
#Without list comprehension

square=[]
for a in range (1,10):
    sq=a**2
    square.append(sq)
print(square)

In [ ]:
Squares=[a**2 for a in range(1,10)]         #With list comprehension 
Squares

## Class 10


## nEsted For loop

In [ ]:
lst1=["huzaifa", "abha ", "ahmed "]
lst2=["Shahid", "Aslam","Furqan"]

for name in lst1:
    for name2 in lst2:
        print(f"{name} {name2}")

In [ ]:
lst1=["huzaifa", "abha ", "ahmed "]
lst2=["Shahid", "Aslam","Furqan"]

for name in lst1:
    print(f"{name} {lst2[lst1.index(name)]}")

 ### Data Stucture " Dictionary"

In [ ]:
## Dictionary is identified by curly bracket ( Data stored in key and value)

Dictionary ={"name":"Saylani","campus":" Gulshan"}
              key      value       key     value

In [ ]:
Dictionary ={"name":"Saylani","campus":" Gulshan"}

In [ ]:
Dictionary["name"]

In [ ]:
Dictionary["campus"]

In [ ]:
Dictionary["teacher"]="Nasir"     # adding a value by passing key

In [ ]:
Dictionary

In [ ]:
Dictionary["teacher"]="kamran"   # Changing a value in

In [ ]:
Dictionary

In [ ]:
del Dictionary["teacher"]          # Deleting a value by

In [ ]:
Dictionary

In [ ]:
Score ={"rizwan":45, "aslam":50}

In [ ]:
Score

In [ ]:
Dictionary

In [ ]:
for a in Score:
    print(a)

In [ ]:
for a in Score.keys():
    print(a)

In [ ]:
for a in Score.values():
    print(a)

In [ ]:
for a in Score.items():          #item dono dega     #() ye tupple houta hai
    print(a)

In [ ]:
for key,value in Score.items():
    print(f"{key}  {value}")

In [ ]:
for key in Score.keys():
    print(Score[keys])

## List in a Disctionary

In [ ]:
list_in_dic={"students":["Nasir","fahad","yasir"],"Marks":[1,2,3]}
import pandas as pd          # tabular form 
pd.DataFrame(list_in_dic)

In [ ]:
list_in_dic["students"]

In [ ]:
list_in_dic["Marks"]

In [ ]:
list_in_dic["students"][1:3]

## Dictionary in a list

In [ ]:
dic_in_list=[{"sales":[1,2,3]},{"games":["saad","asad","hamza"]},{"fahad":[1,2,3]}]

In [ ]:
dic_in_list[0]                 #index diya hai

In [ ]:
dic_in_list[0]["sales"][0]

In [ ]:
dic_in_list={ "dic1":{"profit":[1,2,3,]},"dic2":{"games":["saad","asad","hamza"]}}    # Dictionay in Dictionary

In [ ]:
dic_in_list["dic2"]["games"][2]

In [ ]:
list_in_list=[[1,2,3],["asad","fahad"]]           # list in list

In [ ]:
list_in_list[0][1]

# Class 13

# While Loop

In [ ]:
names=["habib","Ali","jawad"]#for loop
for name in names:
    print(name.upper())

In [ ]:
count=0      #while loop
while count<len(names):
    print(names[count].lower())
    count+=1

In [ ]:
count=0
while count<=5:
    print("python")
    count=count+1

In [ ]:
cars={"Honda":"City","Toyota":"Carolla","Nissan":"Gtr"}
count=0
while count<len(cars):
    print(cars[count]) #cant give index to dictionary
    count+=1

2/0 =infinite   && 0/2 = 0

In [ ]:
count=0
while count<10:
    if count%2==0:
        continue
    print(count)
count+=1

In [ ]:
count=0   #print even number using while loop
while count<=20:
    if count%2==0:
        print(count)
    count+=1

In [ ]:
count=0   #print even number using while loop
while count<=20:
    count+=1
    if count%2!=0:
        
        continue
    print(count)

In [ ]:
while True:
    num=int(input("Enter number"))
    if num%7==0:
        break
    else:
        print(num)

In [ ]:
bestfriends=[]
while True:
    bestfriend=input("Enter you bestfriend name or press Q to exit : ")
    
    if (bestfriend=='q'):
        break 
    else:
        bestfriends.append(bestfriend)
print(bestfriends)

In [ ]:
bestfriends=[]
while True:
    bestfriend=input("Enter you bestfriend name or press Q to exit : ")
    bestfriends.append(bestfriend)
    if (bestfriend=='q'or bestfriend=='Q'):
        break 
    
bestfriends.pop(-1)       
print(bestfriends)

# Flag

In [ ]:
bestfriends=[]
flag =True
while flag:
    bestfriend=input("Enter you bestfriend name or press Q to exit : ")
    
    if (bestfriend=='q'):
        flag=False 
    else:
        bestfriends.append(bestfriend)
print(bestfriends)

# task

In [ ]:
number=[]
while True:
    num=int(input("Enter number or press 0 to quit: "))
    number.append(num)
    if num==0:
        print("Total sum is :",sum(number))
        break

In [ ]:
number=[]
flag=True
while flag:
    num=int(input("Enter number or press 0 to quit: "))
    number.append(num)
    if num==0:
        print("Total sum is :",sum(number))
        flag=False

In [ ]:
from IPython.display import clear_output  #library to clear screen
number=[]
flag=True
while flag: 
    
    num=int(input("Enter number or press 0 to quit: "))
    number.append(num)
    if num==0:
        clear_output(wait=False)  #cls
        
        print("Total sum is :",sum(number))
        flag=False

In [ ]:
fav_nums=input("Enter your comma seperated Fav number") #itr give single string
fav_nums

In [ ]:
fav_nums=input("Enter your comma seperated Fav number").split(",") #it gives list
fav_nums

In [ ]:
total=0
fav_nums=input("Enter your comma seperated Fav number").split(",") #it gives list
for num in fav_nums:
    total+=int(num)
print(total)

In [ ]:
GT10=[]
nums=[2,4,3,5,4,6,5,6,7,8,9]
for num in nums:
    for a in nums:
        sum=num+a
        if sum>=10:
            GT10.append(sum)
GT10

# Class 14

# Tuple

tuple is immutable(cannot change)

In [ ]:
marks=(1,2,True,False,['habib','Ali'],{'class':'smit'})

In [ ]:
marks[0]

In [ ]:
marks[4][1]

In [ ]:
marks[5]['class']

In [ ]:
marks[0]=6 #cant change

In [ ]:
marks.count(2)

In [ ]:
marks.index(2)

# SET

In [ ]:
my_set={2,3}

In [ ]:
type(my_set)

In [ ]:
my_set={2,3,3,4,6,5,3,6,87,5,432,6}

In [ ]:
my_set # distinct number  #no repetation

In [ ]:
alist=[1,2,3,4,5,6,3,4,5,7,8,5,6,2,7,8]
newlist=[]
for a in alist:
    if a not in newlist:
        newlist.append(a)

In [ ]:
newlist

In [ ]:
alist=list(set(alist)) #first create set then change to list

In [ ]:
alist

In [ ]:
my_set.add(9)

In [ ]:
my_set #9 is added

In [ ]:
my_set.difference(alist)

In [ ]:
my_set.intersection(alist)

In [ ]:
my_set.pop()

In [ ]:
my_set

In [ ]:
my_set.union(alist)

In [ ]:
my_set.update(alist)

In [ ]:
my_set

In [ ]:
alist

In [ ]:
my_set.discard(5)

In [ ]:
my_set

In [ ]:
set1={'habib','ahmed','ali'}
set2={2,4,6,2}

In [ ]:
set1.update(set2) #union with no repeated values

In [ ]:
set1

In [ ]:
set1.pop()

In [ ]:
set1.remove('habib')

In [ ]:
set1

In [ ]:
set1.difference_update(set2)  #difference and then update

In [ ]:
set1

In [ ]:
set2

# Functions
-built-in function

-user-defined function

In [ ]:
#function defination
#def functionname
def mean(arr):   #parameter
    total=0
    for val in arr:
        total +=val
    return total/len(arr)

In [ ]:
#call
arr=[1,2,3,4,5,6,7,8,9]
#argument

In [ ]:
mean(arr)

In [ ]:
def say_hello(): #define   #parameter less function
    print("Hello")

In [ ]:
say_hello()  #call

In [ ]:
def Division(n1,n2):
    return n1/n2

In [ ]:
Division(1,2)

In [ ]:
def Multiply(n1,n2):
    return n1*n2

In [ ]:
Multiply(3,6)

In [ ]:
def say_salam(name):
    print(f"Assalam.o.Alaikum Mr. {name}")

In [ ]:
say_salam("Habib")

In [ ]:
def lower_text(para):
    print(para.lower())

In [ ]:
lower_text("Hello Habib")

In [ ]:
def charCount(para): #counting space and , as well
    print("There are ",len(para),"character in your paragraph")

In [ ]:
charCount("Hello Habib")

In [ ]:
def wordCount(para):
    print("There are ",len(para.split(" ")),"word in your paragraph")

In [ ]:
wordCount("hello habib! how are you?")

In [ ]:
def sentenceCount(para):
    print("There is ",len(para.split(".")),"sentence in your paragraph")

In [ ]:
sentenceCount("Hello habib how are you")

In [ ]:
def charCount(para):
    print("There are ",len(para),"character in your paragraph")

## Class 15

In [ ]:
def  square(num):
    sqr = num*num   # local varibale 
    print(sqr)

In [ ]:
square(6)

In [ ]:
def  square(num):
    sqr = num*num   # local varibale 
    print(sqr)
    global name       # global variable 
    name="saylani"

In [ ]:
square(5)

In [ ]:
print(name)

In [ ]:
def  square(num):
    sqr = num*num   # local varibale 
    return sqr      #

In [ ]:
square(5)

In [ ]:
def square(num):
    return num**2, "hello"

In [ ]:
square(5)

In [ ]:
def Add(num1,num2):
    return num1+num2

In [ ]:
Add(2,4)

# poistional parameter and Argument

In [ ]:
def complete_name(first_name, last_name):
    full_name = first_name + " " + last_name
    return full_name

In [ ]:
complete_name("waseem", "huzaifa")

In [ ]:
complete_name("huzaifa", "waseem")

## Default parameter

In [ ]:
def cube(num=3):
    _cube=num**3
    return _cube

In [ ]:
cube(5)   # user is giving input

In [ ]:
cube()    # default value will be consider (eg =3)

In [ ]:
a=[2,5,6,8,9,10]

def max_min(a):
    _max=max(a)
    _min=min(a)
    return _max,_min

In [ ]:
max_min(a)

In [ ]:
a=[2,5,6,8,9,10]

def sqlist(a):
    return [ val**2 for val in a]

In [ ]:
sqlist(a)

In [ ]:
a=[2,5,6,8,9,10 ,11]

def sqlist(a):
    return [ val**2 if val < 10 else val for val in a ]

In [ ]:
sqlist(a)

In [ ]:
def students(arr):
    return [arr.pop() if len(val)>10 else print(val)  for val in arr ]

In [ ]:
students(["huzaifaabha", "habib" , "Nasirhussain"])

# Class 16

## keywords Argument

In [ ]:
def func(arr,task=""):
    if task=="sum":
        return sum(arr)
    elif task=="mult":
        res =1
        for num in arr:
            res*=num
        return res 
    elif task=="max":
        return max(arr)
    
    elif task=="min":
        return min(arr)
    elif task=="even":
        even=[]
        for num in arr:
            if num %2==0 :
                even.append(num)
        return even
    elif task=="odd":
        odd=[]
        for num in arr:
            if num %2!=0 :
                odd.append(num)
        return odd

In [ ]:
func([1,2,3,4], "sum")

In [ ]:
func([1,2,3,4], "mult")

In [ ]:
func([1,2,3,4], "max")

In [ ]:
func([1,2,3,4], "min")

In [ ]:
func([1,2,3,4], "even")

In [ ]:
func([1,2,3,4], "odd")

In [ ]:
 func([1,2,3,4])

# calculator

In [ ]:


def func(val1,val2,task):
    if task=="+" or task!=0 :
        return val1+val2
    elif task=="-" or task!=0:
        return val1-val2
    elif task=="*" or task!=0:
        return val1*val2   
    elif task=="/"  or task!=0:
        return val1/val2
    else:
        print("wrong operation assign ")

In [ ]:
func(1,0,0)

In [ ]:
def greet(name=str)
    return name
greet(name)  # Not working

In [ ]:
# keyword arguments

In [ ]:
def  description(age,name,blood_group,gender):
    des=f"""
             The name is {name }
             The age is {age}
             the bloodgroup is {blood_group}
             the gender is {gender}
             
             """
    print(des)

In [ ]:
description(age=21,name="huzaifa",blood_group= "O+",gender =" male") # keyword ke through print krwaya hai  v

In [ ]:
def build_person(first_name, last_name):
    person = {"first":first_name, "last":last_name}
    return person

In [ ]:
a=build_person("huzaifa", "abha")
print(a)

In [ ]:
def build_person(first_name, last_name,age=""):
    
    person = {"first":first_name, "last":last_name}
    if age:
        person["age"]=age
    return person

In [ ]:
a=build_person("huzaifa", "abha")
print(a)

In [ ]:
#from one list to another list using while loop:

list1=["car","bicycle","bike"]
list2=[]

while list1:
    new_list=list1.pop()
    
    list2.append(new_list)
print("list2=",list2)

## Class 17

In [ ]:
Magician=["habib","samad","Ali"]
def show_magicians(name):
    for name in Magician:
        print(name)

In [ ]:
show_magicians(Magician)

In [ ]:
 Magician=["habib","samad","Ali"]
def Great_magician(name):   
    for name in Magician:
        
        print("Great",name)

In [ ]:
Great_magician(Magician)

In [ ]:
Magician=["habib","samad","Ali"]
def Great_magician(name):   
    for name in Magician:
        
        print("Great",name)

In [ ]:
# adding great  with al list memeber and modifying list 

magician=["habib","samad","Ali"]

def great_magician(magician):
    for  i in range(len(magician)):
        magician[i]=" great " + magician[i]

In [ ]:
missing

## Passing an arbitory number to the function

In [ ]:
def make_pizza(*topping):  # using steric can take multiple argument 
    print(topping)
make_pizza("mushroom", "paperroni")

In [ ]:
def build_profile(first,last,**user_info):  ### mutiple argument save in dictionary
    profile ={}
    profile["first name"]=first
    profile["Last name"]=last

    for key,value in user_info.items():
        profile[key]=value
    return profile

In [ ]:
a=build_profile("huzaifa","abha", location="karachi",course='SMIT')
print(a)

In [ ]:
#Question1

def sandwich(*items):
    print(f"the sandwich include {list(items)}")
sandwich("bread","tomoto","cucumber")

In [ ]:
 #Question 3
    
def car_manufacture(manufacture ,Model,**user_info): # mutiple argument save in dictionary
        Car ={}
        Car["Manufacture_name "]=manufacture
        Car["Model name"]=Model

        for key,value in user_info.items():
            Car[key]=value
        return Car

In [ ]:
a=car_manufacture("honda","x6511b", color="grey",mode="auto")
print(a)

# Class 18

# Modules

In [ ]:
Modules may have classes and fuction

In [ ]:
#import math ( this is module)

In [ ]:
import math

In [ ]:
from math import ceil  # modul

In [ ]:
import mymath.py

In [ ]:
#this below function has made on visual studio and then run in jupyter by adding in notebook. Both

In [ ]:
# %load mymath.py
def addition (*numbers):
    '''
    It can take arbitrary number of arguments
    Return the sum of all numbers provided

              
    '''
    if len(numbers)==0:
        return "give at least two parameters"
    else:
        return sum(numbers)

def exponent(num,exp):
    return (num**exp)

In [ ]:
%run mymath.py

In [ ]:
import mymath

In [ ]:
mymath.addition(1,2,3,4,5,6,7,9)

In [ ]:
mymath.exponent(2,3)

In [ ]:
from mymath import addition

In [ ]:
addition(1,2,3)

In [ ]:
import math 
def countcharacter(para):
    return count(para)

In [ ]:
countcharacter("para is")

In [ ]:
import math
mymath.

In [ ]:
# %load mymath.py
def addition (*numbers):
    '''
    It can take arbitrary number of arguments
    Return the sum of all numbers provided

              
    '''
    if len(numbers)==0:
        return "give at least two parameters"
    else:
        return sum(numbers)

def exponent(num,exp):
    return (num**exp)

In [ ]:
mymath.para('thi is ')

In [ ]:
# %load mymath.py
def addition (*numbers):
    '''
    It can take arbitrary number of arguments
    Return the sum of all numbers provided

              
    '''
    if len(numbers)==0:
        return "give at least two parameters"
    else:
        return sum(numbers)

def exponent(num,exp):
    return (num**exp)

In [ ]:
# %load mymath.py
def addition (*numbers):
    '''
    It can take arbitrary number of arguments
    Return the sum of all numbers provided

              
    '''
    if len(numbers)==0:
        return "give at least two parameters"
    else:
        return sum(numbers)

def exponent(num,exp):
    return (num**exp)

In [ ]:
#Count Character without spaces 

def countcharacter(para):
    a="".join(para.split(" "))
    return len(a)

In [ ]:
countcharacter("huzaifa abha abha")

In [ ]:
# Count Spaces 
def countspaces(spaces):
    count=0
    for x in spaces:
        if x==" ":
            count=count+1
        
    return count

In [ ]:
countspaces("thi is huzaifa")

In [ ]:
def countspaces(spaces):
    count=0
    for x in spaces:
        if x==" ":
            count=count+1
        
    return count

## Class 19

##OOPS

In [ ]:
# java is first object oriented language
## if anything have a object it must have a class
what is class:
   # A Class in object oriented programming is a blueprint or prototype that defines the variables and the methods (functions) common to all Java Objects of a certain kind.

#An object in OOPS is a specimen of a class. Software objects are often used to model real-world objects you find in everyday life

#Example : lets take a bottle
#Class  Phone
#Object or features : Scrren size , color, dimension,weight
#behaviour : call rec , call doing

In [ ]:
class Student(): 
    roll_no = 100   #all the variables in oops are features, attributes, characteristics and properties
    name = "huzaifa" #all the functions in oops are behaviors, actions and methods
    course = "SMIT"   ## ye tamam variable class type variable hai
    
    def study(self):
        print("student is studying")
    def exam(self):
        print("student is studying")
    def fee(self):
        print("student is fee")

In [ ]:
Student

In [ ]:
s1=Student  # assigning object

In [ ]:
s1.name

In [ ]:
s1.roll_no

In [ ]:
s1.course

In [ ]:
s1.study()

In [ ]:
s1.fee()

In [ ]:
s2= Student

In [ ]:
s2.name   # ye same name deraha hai kyun ke calss me fixed name se save hai

In [ ]:
class patient():
    ID=1201
    name="asad"
    disease="malaria"
    
    def rest(self,):
        print(" patient is rest")
    def eat(self):
        print(" patient is eating")

In [ ]:
s2=patient

In [ ]:
s2.name

In [ ]:
## Dynamic

In [ ]:
class students():
    def __init__(self,name,roll,course):   # pehla walay parameter object ke liye use houta aur wo hum koi bhi desktay hain
        self.name= name
        self.roll= roll
        self.course= course
        
    def study(self):
        print(f"{self.name} is studying")
    def exam(self):
        print(f"{self.name} is taking exam")
    def fee(self):
        print(f"{self.name} is giving fee")

In [ ]:
s1=students("huzaifa",1,"SMIT")

In [ ]:
s2=students("asad",2,"SMIT")

In [ ]:
s2.name     #

In [ ]:
s1.exam()

In [ ]:
s1.fee()

In [15]:
class Patient():
    def __init__(self,ID,name,disease):
        
        self.ID=ID
        self.name=name
        self.disease=disease
    
    def rest(self):
        print(f"{self.name} is doing rest ")
    def eat(self):
        print(f"{self.name} is doing eating ")

In [16]:
s1=Patient(121,"huzaifa","Malria")

In [8]:
s1.name

'huzaifa'

In [9]:
s1.ID

121

In [10]:
s1.disease

'Malria'

## Class 19

In [ ]:
#9-1. Restaurant: Make a class called Restaurant. The __init__() method for
#Restaurant should store two attributes: a restaurant_name and a cuisine_type.
#Make a method called describe_restaurant() that prints these two pieces of
#information, and a method called open_restaurant() that prints a message indicating that the restaurant is open.
#Make an instance called restaur

In [36]:
class Restaurant():
    def __init__(self,restaurant_name,cuisine_type):
        self.restaurant_name=restaurant_name
        self.cuisine_type=cuisine_type
    
    def describe_restaurant(self):
        print(f"""
            Welcome
           Restaurant name :{self.restaurant_name}
           Cuisine type :{self.cuisine_type}
               
            """)
    def open_restaurant(self):
        print(f"""
               {self.restaurant_name} is open
               
               """)

In [37]:
res1=Restaurant("new quetta","game")
res2=Restaurant("quetta","Tea")

In [38]:
res2.describe_restaurant()

            Welcome
           Restaurant name :quetta
           Cuisine type :Tea

In [62]:
## Default value in parameter 
class Mobile():
    def __init__(self,brand,model,color="black"):
        self.brand=brand
        self.model=model
        self.color=color
        self.usuage="10 mB"
    def call(self,contact):
        print(f"""
            My {self.brand} {self.model} {self.color} {self.usuage} {contact}
            """)

In [63]:
mob1=Mobile("Infinix","X6817")

In [64]:
mob1.call("15")

            My Infinix X6817 black 10 mB 15

In [72]:
class Car(): 
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
        self.odometer_reading = 0 
    def get_descriptive_name(self): 
        long_name = str(self.year) + ' ' + self.make + ' ' + self.model
        return long_name.title()    
    def get_odometer_reading(self): 
        return self.odometer_reading    
    def set_odometer_reading(self,new_reading):
        if new_reading<0:
            print("Abnormal Reading")
        else:
            self.odometer_reading = new_reading

In [73]:
car1=Car("Suzuki","Mehran",2012)

In [74]:
car1.get_descriptive_name()

'2012 Suzuki Mehran'

In [79]:
car1.get_odometer_reading()

25

In [80]:
car1.set_odometer_reading(-10)

Abnormal Reading

In [81]:
car1.get_odometer_reading()

25

# Class 22

In [ ]:
Inheritance

# In[ ]:


## Class 22 (28th june)


# class Institute():
#     def __init__(self,name,no_of_teachers,departments,ranking,facilities):
#         self.name=name
#         self.no_of_teachers=no_of_teachers
#         self.departments=departments
#         self.ranking=ranking
#         self.facilities=facilities
#     def describe_intitute(self):
#         print(f"""
#                {self.name}
#               {self.no_of_teachers} 
#               {self.department} 
#               {self.rankng} 
#               {self.facilities}
#         
#         
#         
#         
#              """
#               
#                  )
#         
#     def opened(self):
#         print(f"{self.name} is open")
#     def Closed(self):
#         print(f"{self.name} is Closed ")   
#     

# institute1=Institute("NED","100","25","8","internet")

# In[16]:


institute1.Closed()


# In[17]:


class acha_institute(Institute):
    pass


# In[22]:


ac1=acha_institute("NEeeeeD",100,25,8,"internet")


# In[ ]:





# In[41]:


ac1.


# In[49]:


class Car():
 
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
        self.odometer_reading = 0

    def get_descriptive_name(self):
        long_name = str(self.year) + ' ' + self.make + ' ' + self.model
        return long_name.title()

    def read_odometer(self):
        print("This car has " + str(self.odometer_reading) + " miles on it.")

    def update_odometer(self, mileage):
        if mileage >= self.odometer_reading:
            self.odometer_reading = mileage
        else:
            print("You can't roll back an odometer!")

    def increment_odometer(self, miles):
        self.odometer_reading += miles


# In[50]:


car1=Car("honda","GLI","2008")


# In[51]:


achi_car=Car("honda","GLI","2008")


# In[52]:


class achi_car(Car):
    
    pass 


# In[53]:


achi_car.


# # Defining atrributes and Methods for the child class 

# In[34]:


class ElectricCar(Car):
    def __init__(self, make, model, year):
 
        super().__init__(make, model, year)
        #super()takes you to the parent class initializer
        
        self.battery_size=70
        
    def describe_battery(self):
        print("This car has a " +str(self.battery_size) + " kwh battery")
    def fill_gas_tank (self):
        print(" This car doesnot need a gas tank")
    


# In[30]:


ac1=ElectricCar("Electric","Gli",2022)


# In[36]:


ac1.describe_battery()


# In[37]:


ac1.fill_gas_tank()


# In[ ]:


#instance as attributes

In [ ]:
Student